div.form-container {
    background-color: lightblue;
}

fieldset {
    
    color: black;
    font-family:
    'Times New Roman', Times, serif,
    Georgia, 'Times New Roman', Times, serif;
    
}

fieldset legend {
    color: blue; 
    font-size: 20px;
    font-weight: bolder;
    margin: 1% 0 1% 25%;
   
}

fieldset label {font-weight: 600;
    font-size: 18px;
    margin: 3% 0 1% 40%;
    color: rgb(111, 0, 255); 

}

fieldset input, fieldset select {
    margin: 0 0 1% 28%;
    font-size: 16px;
    color: rgb(0, 60, 255);
    font-weight: bold;
    text-align: center;
    border: green 3px groove; 
    border-radius: 10%;
    width: 50%;
    height: 30px;
}

fieldset select option{
    color: black;
    font-weight: 600;
}

fieldset input.email, fieldset input.pwd {
    width: 50%;
    height: 35px;
    
}

fieldset select#doctor{
    margin: 0 0 5% 28%;
    border: blue 3px solid;
    color: magenta;
    height: 50px;

}

fieldset label.sign-up-form-officer {
    margin-top: 10%;
    color: blue;
    margin-left: 33%;
}

fieldset input.sign-up-form-date {
    margin: 0 0 5% 30%;
    border: blue 3px solid;
    color: black;
    height: 50px;
}

fieldset label.sign-up-form-date {
    margin-top: 10%;
    color: blue;
    margin-left: 30%;
}


fieldset label.sign-up-form-text {
    margin-top: 10%;
    color: green;
    margin-left: 30%;
}


fieldset textarea{
    border: green 3px inset; 
    border-radius: 5%;
    margin: 0% 0 0 10%;
    width: 80%;
    padding: 10px;
    height: 200px;

    }

fieldset input:hover, fieldset textarea:hover{
    border: rgb(0, 132, 255) 2px groove; 
}

fieldset input:active, fieldset textarea:active{
    border: blue 4px solid; 
}

fieldset input#sign-up-form-submit {
    width: 50%;
    height: 50px;
    margin: 2% 0 5% 25%;
}

input#sign-up-from-submit {
    width: 30%;
    height: 100%;
    margin-left: 35%;
}

