div.medical-tips {
    background-color: white;
    color: black;
    font-size: 100%;
    font-weight: 600;
    font-family: sans-serif, 'Times New Roman', Times, serif,
    Georgia, 'Times New Roman', Times, serif;
    width:max-content;
    height: max-content;
    border: blue 5px double;
    box-shadow: goldenrod 5px 5px 5px;
}